In [4]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd 
import seaborn as sns
from tableone import TableOne

In [5]:
chem=pd.read_excel(r"chem_polution.xlsx")

In [6]:
chem["int_week"]=((chem.week/10)).astype(int).astype(str)

In [7]:
chem.columns
chem=chem.drop(['start_c','stop_c','Unnamed: 0','batch_c', 'cpnr','batch_n', 'start_n', 'stop_n'],axis=1)

In [8]:
url="https://raw.githubusercontent.com/tompollard/data/master/primary-biliary-cirrhosis/pbc.csv"
data=pd.read_csv(url)

In [9]:
data.dtypes,chem.dtypes

(id            int64
 time          int64
 status        int64
 trt         float64
 age         float64
 sex          object
 ascites     float64
 hepato      float64
 spiders     float64
 edema       float64
 bili        float64
 chol        float64
 albumin     float64
 copper      float64
 alk.phos    float64
 ast         float64
 trig        float64
 platelet    float64
 protime     float64
 stage       float64
 dtype: object,
 visit            int64
 no2            float64
 Nox            float64
 formaldehyd    float64
 acetald        float64
 acetone        float64
 sample_time      int64
 week             int64
 int_week        object
 dtype: object)

In [10]:
columns = chem.columns
categorical = ['visit','week', 'int_week']

continuous = ['no2', 'Nox', 'formaldehyd', 'acetald', 'acetone',
       'sample_time']
groupby='visit'

In [11]:
chem=chem.drop(['int_week','week'],axis=1)

In [12]:
mytable = TableOne(chem,groupby="visit", pval=True)

In [129]:
mytable_pm_season

                           Grouped by part_year
                                        Missing      Overall            0            1            2 P-Value
n                                                       1120          362          384          374
flow, mean (SD)                               0    4.0 (0.2)    4.0 (0.2)    4.0 (0.2)    4.0 (0.2)  <0.001
pm_final, mean (SD)                           0  18.9 (18.9)  21.4 (21.7)  15.6 (14.2)  19.9 (19.8)  <0.001
sv_final, mean (SD)                           0    1.0 (0.6)    1.0 (0.6)    0.7 (0.4)    1.2 (0.6)  <0.001
maalnr, n (%)            1                        389 (34.7)   131 (36.2)   108 (28.1)   150 (40.1)   0.001
                         2                        371 (33.1)   110 (30.4)   128 (33.3)   133 (35.6)
                         3                        350 (31.2)   118 (32.6)   142 (37.0)    90 (24.1)
                         4                          10 (0.9)      3 (0.8)      6 (1.6)      1 (0.3)
PM25_Gaussion, mean (SD)                      0  19.2 (18.5)  21.4 (20.4)  16.4 (14.9)  19.9 (19.5)   0.001

In [14]:
mytable.to_latex('mytable.tex')

In [104]:
pm25=pd.read_excel(r"pm25_corrected.xlsx")

In [105]:
pm25.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'fnr', 'bnr', 'vejnvn', 'husn', 'sadto',
       'flow', 'postnr', 'pm_final', 'sv_final', 'adrnum', 'maalnr',
       'PM25_Gaussion', 'pm25_linear', 'pm25_exp', 'pm25_log'],
      dtype='object')

In [108]:
pm25=pm25.drop(["adrnum","postnr",'pm25_linear', 'pm25_exp', 'pm25_log','Unnamed: 0.1', 'Unnamed: 0', 'fnr','bnr', 'vejnvn', 'husn'],axis=1)

In [110]:
pm25["part_year"]=(pm25.sadto.dt.day_of_year/365*3).astype(int)

In [112]:
pm25=pm25.drop(["sadto"],axis=1)

In [126]:
mytable_pm_season = TableOne(pm25,groupby="part_year", pval=True)
mytable_pm_visit = TableOne(pm25,groupby="maalnr", pval=True)

In [124]:
mytable_pm.to_latex('pm25_season.tex')

In [ ]:
mytable_pm.to_latex('pm25_season.tex')